.user-profile-photo {
  display: flex;
  justify-content: center;
}

.user-profile-photo img {
  background-color: #444;
  padding: 5px;
  width: 130px;
  height: 130px;
  border-radius: 100px;
}

.verifiedColor {
  color: #00ff99;
}

.unVerifiedColor {
  color: #ff0066;
}
